<script>
$(function() {
  $('.Toggle').click(function() {
   $(this).toggleClass('active');
  $('.header_menu_inner').toggleClass('open');
 });
});
</script>
<header class="header">
  <nav class="nav">
    <ul class="header_menu">
      <li class="nav-link"><%= current_user.name %>さん</li>
      <li class="header_menu_title"><%= link_to "Taskapp", root_path, class: "nav-link" %></li>
      <li>
        <ul class="header_menu_inner">
          <li>
            <%= link_to new_list_path, class: "nav-link" do %>
              <span class="mr-1">日程を追加</span>
              <i class="fas fa-edit"></i>
            <% end %>
          </li>
          <li><%= link_to "サインアウト", destroy_user_session_path, class: "nav-link", method: :delete %></li>
        </ul>
      </li>
    </ul>
  </nav>
  <div class="Toggle">
        <span></span>
        <span></span>
        <span></span>
  </div>
</header>
